[submodule "static/webgl_game_of_life/game"]
	path = static/webgl_game_of_life/game
	url = https://github.com/aneeshdurg/webgl_game_of_life
[submodule "static/pi_digits/src"]
	path = static/pi_digits/src
	url = https://github.com/aneeshdurg/webgl-pi-digits.git
[submodule "static/mandelbrot/src"]
	path = static/mandelbrot/src
	url = https://github.com/aneeshdurg/mandelbrot
[submodule "static/dragon_fractal/src"]
	path = static/dragon_fractal/src
	url = https://github.com/aneeshdurg/dragon_fractal
[submodule "static/webgl-common"]
	path = static/webgl-common
	url = https://github.com/aneeshdurg/webgl-common
[submodule "static/genuary2021"]
	path = static/genuary2021
	url = https://github.com/aneeshdurg/genuary2021
[submodule "static/vsynth/video-synth"]
	path = static/vsynth/video-synth
	url = https://github.com/aneeshdurg/video-synth
[submodule "static/circle_packing/coi-serviceworker"]
	path = static/circle_packing/coi-serviceworker
	url = https://github.com/gzuidhof/coi-serviceworker
[submodule "static/circle_packing/webgl-common"]
	path = static/circle_packing/webgl-common
	url = https://github.com/aneeshdurg/webgl-common/
