//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Normal CSS variables to allow for switching themes based on the browser's
// default preference
:root {
 --body-bg: white;
 --body-color: #333;
 --emphasis-color: #222;
 --footer-color: #eee;
 --highlight-bg: #efefef;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
 :root {
   --body-bg: black;
   --body-color: #888;
   --emphasis-color: #eee;
   --footer-color: #333;
   --highlight-bg: #101010;
  }
}
