---
layout: default
---
<script src={{ "/static/search.js" | relative_url }}></script>

<div class="searchbar">
  <label for="search">Search all posts: </label>
  <input type="text" id="search" placeholder="Search">
</div>

<hr>

<div class="posts">
    {% assign newyear = "0" %}
    {% assign newmonth = "0" %}

    {% for post in site.posts %}
        {% capture postdate %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if postdate != newyear %}
            {% if newyear != "0" %}
                </div>
                </div>
            {% endif %}
            {% capture  newyear %}{{ postdate }}{% endcapture %}
            <div class="newyear">
              <a name="{{ newyear }}"></a>
              <a href="#{{ newyear }}"><p>{{ postdate }}</p></a>
              <!--hr-->
            </div>
            {% assign newmonth = "0" %}
            <div class="yearcontainer">
        {% endif %}
        {% capture postmonth %}{{ post.date | date: "%B" }}{% endcapture %}
        {% if postmonth != newmonth %}
            {% if newmonth != "0" %}
                </div>
            {% endif %}
            {% capture  newmonth %}{{ postmonth }}{% endcapture %}
            <div class="newmonth">
                <a name="{{ newyear }}-{{ newmonth }}"></a>
                <a href="#{{ newyear }}-{{ newmonth }}"><p>{{ postmonth }}</p></a>
                <!--hr style="border: 1px dashed"-->
            </div>
            <div class="monthcontainer">
        {% endif %}
        <article class="post">
          {% capture postlink %}{{ post.url }}{% endcapture %}
            {% if post.redirect %}
              {% capture postlink %}{{ post.redirect }}{% endcapture %}
            {% endif %}
            <h2 class="posttitle"><a href="{{ site.baseurl }}{{ postlink }}">{{ post.title }}</a></h2>
            <div class="excerpt">
                {{ post.excerpt }}
            </div>
        </article>
    {% endfor %}
  </div> <!-- monthcontainer -->
  </div> <!-- yearcontainer -->
</div>
